.container {
    max-width: 1200px;
}
  
.order-container {
    width: 900px;
    height: 300px; /* Updated height to 300px */
}
  
.card {
    height: 100%;
}
  
.card-header, .card-footer {
    padding: 8px 15px;
}
  
.media {
    display: flex;
    align-items: center;
}
  
.mobile-image {
    width: 80px;
    height: auto;
    object-fit: cover;
    box-shadow: 0 4px 8px #218838;
    margin-right: 10px;
}
  
.mobile-details {
    flex: 1;
}
  
.mobile-details h6 {
    font-size: 1rem;
    margin-bottom: 5px;
}
  
.mobile-specs {
    font-size: 0.9rem;
    line-height: 1.4;
}
  
.mobile-specs span {
    display: inline-block;
    margin-right: 5px;
}
  
.card-body {
    overflow-y: auto;
    padding: 10px 15px;
}
  
address {
    font-style: normal;
    line-height: 1.5;
}
  
h5 {
    font-weight: 600;
    margin-bottom: 10px;
}

.custom-snackbar {
    background-color: red !important;
    color: white; /* Optional: to change the text color */
}
