body{
    font-family: "Mukta", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.w-100{
    width: 100%;
}
.line-with-text {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
.line-with-text::before,
.line-with-text::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.line-with-text:not(:empty)::before {
    margin-right: 10px;
}
.line-with-text:not(:empty)::after {
    margin-left: 10px;
}

