<div
  *ngIf="!isLoggedIn"
  mat-dialog-title
  style="display: flex; flex-direction: column; align-items: center"
>
  <a
    class="btn btn-warning"
    routerLink="/login"
    mat-button
    mat-dialog-close
    style="width: 50%; margin-bottom: 8px"
  >
    Sign In
  </a>
  <p style="margin: 0; font-size: 15px">
    New Customer?
    <a class="text-warning" routerLink="/register" mat-button mat-dialog-close
      >start here</a
    >
  </p>
</div>

<mat-dialog-content class="mat-typography">
  <div *ngIf="isLoggedIn">
    <a
      class="btn btn-warning"
      (click)="signout()"
      mat-button
      mat-dialog-close
      style="width: 50%; margin-bottom: 8px"
    >
      Sign Out
    </a>
  </div>
  <div class="row">
    <div class="col-md-6" style="border-right: solid 1px lightgray">
      <ul class="list">
        <li style="font-weight: bold">Your Lists</li>
        <li *ngFor="let item of data.your_lists">
          <a href="#">{{ item }}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="list">
        <li style="font-weight: bold">Your Account</li>
        <li *ngFor="let item of data.your_account">
          <a href="#">{{ item }}</a>
        </li>
      </ul>
    </div>
  </div>

</mat-dialog-content>
