.dropdown-item{
    text-transform: capitalize;
}
.dropdown-item:hover{
    background-color: #ffc107;
    color: black;
    cursor: pointer;
}

/* mobiles.component.css */

/* Bootstrap Pagination Styling */
.custom-pagination .page-item.active .page-link {
    background-color: #ffc107;
    border-color: #ffc107;
    color: white;
  }
  
  .custom-pagination .page-link {
    color: #ffc107;
  }
  
  .custom-pagination .page-link:hover {
    background-color: #ffe08a;
    border-color: #ffc107;
    color: black;
  }
  
  .custom-pagination .page-item.disabled .page-link {
    color: #ffc10799; /* Slightly transparent */
    pointer-events: none;
  }
  




