<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ffc107">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSecondary"
      aria-controls="navbarSecondary"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSecondary">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown" 
            (mouseover)="openDropdown($event)" 
            (mouseout)="closeDropdown($event)">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownFresh"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            href="#"
          >
            Fresh
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownFresh">
            <li *ngFor="let label of categories.fresh">
              <a class="dropdown-item" (click)="loadPageNow('fresh', label)">{{ label }}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown" 
            (mouseover)="openDropdown($event)" 
            (mouseout)="closeDropdown($event)">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownPrime"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            href="#"
          >
            Prime
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownPrime">
            <li *ngFor="let promotion of categories.prime">
              <a class="dropdown-item" (click)="loadPageNow('prime', promotion)">{{ promotion }}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" *ngFor="let category of categories.category">
          <a class="nav-link" (click)="loadPageNow('category', category)">{{ category }}</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Shop Deals in Electronics</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
