.navbar .nav-link {
    color: black !important;
    text-transform: capitalize;
  }
.nav-item{
    padding: 4px !important;
}
.nav-item:hover{
    border: solid 1px white;
    cursor: pointer;
    padding: 4px;
    border-radius: 5px;

}
.dropdown-item{
    text-transform: capitalize;
}
.dropdown-item:hover{
    background-color: #ffc107;
    color: black;
}