
.theme-background {
    background-color: rgba(255, 193, 7, 0.5); /* #ffc107 with 0.5 opacity */
    padding: 3px 0 60px 0; /* Reduced top padding to 20px, bottom padding remains 60px */
    border-radius: 10px; /* Rounded corners for better aesthetics */
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px; /* Space at the bottom */
    background-color: white;
    border-radius: 10px; /* Rounded corners for the card */
}

h2 {
    color: #333;
    font-weight: bold;
}

label {
    font-weight: bold;
    color: #555;
}

.btn-primary {
    background-color: #f0c14b;
    border-color: #a88734;
    color: #111;
}

.btn-primary:hover {
    background-color: #ddb347;
    border-color: #9c7a30;
}

a {
    color: #0066c0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.form-text {
    font-size: 12px;
}

.card-body {
    padding: 2rem;
}