<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <span class="logo text-warning">EEkoM</span><span class="logo2">.in</span>
    </a>

    <!-- Location -->
    <div class="navbar-location d-none d-lg-block" style="margin-right: 10px">
      <a mat-button (click)="chooseLocation()">
        <span style="margin-right: 5px">Delivering to</span>
        <span><strong>508246</strong></span><br />
        <span style="font-weight: bold">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
          </svg>
          Update Location
        </span>
      </a>
    </div>

    <!-- Search Bar -->
    <form class="d-flex mx-auto" style="flex: 1">
      <input class="form-control me-2" type="search" placeholder="Search EEkoM.in" aria-label="Search" />
      <button class="btn btn-warning" type="submit">Search</button>
    </form>

    <!-- Right-side items -->
    <div class="navbar-nav ms-auto">
      <a mat-button (click)="openDialog()" class="nav-link navbar-location" style="margin-left: 5px">
        <span style="text-transform: capitalize;">Hello, {{ userName ? userName : 'Sign in' }}</span><br />
        <span style="font-weight: bold">Account & Lists</span>
      </a>
      <a class="nav-link navbar-location" style="margin-left: 5px" href="#">
        <span>Returns</span><br />
        <span style="font-weight: bold">&Orders</span>
      </a>
      <a routerLink="/cart" class="nav-link navbar-location" style="margin-left: 5px">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="16" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
          </svg>
        </span><br />
        <span style="font-weight: bold">Cart</span>
      </a>
    </div>
  </div>
</nav>
